.cards__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 25%;
    background: #181D28;
    height: 200px;
    transition: 0.3s;
}

a.card__body {
    display: flex;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.card:hover {
    background: #6B4B6B;
}

@media screen and (max-width:991px) {
    .card {
        flex: 0 0 50%
    }
}

@media screen and (max-width:576px) {
    .card {
        flex: 0 0 100%
    }
}